In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mayya,61.7333,130.2811,14.00,67,0,4.47,RU,2021-03-30 12:12:35
1,1,Ostrovnoy,68.0531,39.5131,34.00,96,100,17.27,RU,2021-03-30 12:12:36
2,2,Kaitangata,-46.2817,169.8464,53.35,97,100,2.48,NZ,2021-03-30 12:12:36
3,3,Ushuaia,-54.8000,-68.3000,48.20,71,75,41.43,AR,2021-03-30 12:11:53
4,4,Khanbari,27.3747,87.2039,73.96,31,100,6.53,NP,2021-03-30 12:12:36

In [2]:
print(g_key)

AIzaSyDhHd-EFYlIfAQqSf391cBmDava0To0Dl8

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key="AIzaSyDhHd-EFYlIfAQqSf391cBmDava0To0Dl8")

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
temperatures = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights= temps)

# 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
8,8,Lorengau,-2.0226,147.2712,81.48,76,91,2.48,PG,2021-03-30 12:12:37
13,13,Kloulklubed,7.0419,134.2556,78.80,94,75,3.44,PW,2021-03-30 12:12:39
14,14,Yulin,22.6333,110.1500,85.30,47,33,6.58,CN,2021-03-30 12:12:39
15,15,Atuona,-9.8000,-139.0333,79.99,77,72,20.60,PF,2021-03-30 12:08:50
16,16,Port Elizabeth,-33.9180,25.5701,77.00,61,0,12.66,ZA,2021-03-30 12:12:39
18,18,Vaini,-21.2000,-175.2000,78.80,94,40,6.91,TO,2021-03-30 12:12:40
33,33,Arraial do Cabo,-22.9661,-42.0278,75.20,88,40,5.75,BR,2021-03-30 12:12:44
35,35,George Town,5.4112,100.3354,87.01,79,20,8.05,MY,2021-03-30 12:08:20
39,39,Bambous Virieux,-20.3428,57.7575,77.00,94,75,5.75,MU,2021-03-30 12:12:45
40,40,Mossamedes,-15.1961,12.1522,82.40,69,75,11.50,AO,2021-03-30 12:12:45

In [10]:
preferred_cities_df.count()

City_ID       186
City          186
Lat           186
Lng           186
Max Temp      186
Humidity      186
Cloudiness    186
Wind Speed    186
Country       186
Date          186
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
8          Lorengau      PG     81.48  -2.0226  147.2712
13      Kloulklubed      PW     78.80   7.0419  134.2556
14            Yulin      CN     85.30  22.6333  110.1500
15           Atuona      PF     79.99  -9.8000 -139.0333
16   Port Elizabeth      ZA     77.00 -33.9180   25.5701
18            Vaini      TO     78.80 -21.2000 -175.2000
33  Arraial do Cabo      BR     75.20 -22.9661  -42.0278
35      George Town      MY     87.01   5.4112  100.3354
39  Bambous Virieux      MU     77.00 -20.3428   57.7575
40       Mossamedes      AO     82.40 -15.1961   12.1522

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [13]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [14]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

hotels

{'error_message': 'This API project is not authorized to use this API.',
 'html_attributions': [],
 'results': [],
 'status': 'REQUEST_DENIED'}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

IndexError: list index out of range

In [23]:
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
 print("Hotel not found... skipping.")

Hotel not found... skipping.

In [25]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

NameError: name 'info_box_template' is not defined

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

NameError: name 'hotel_info' is not defined